<div class="container">
  <h2>Downloader Survey</h2>

  <p>
    The OASIS team is not responsible for the use of the downloaded summaries.
  </p>

  <p>
    OASIS summaries are available for download free of charge. However, it would
    be useful to us and our funders to have some information about who uses the
    summaries, so we can make OASIS an even more informative resource. If you
    are happy to be contacted by the OASIS team for feedback on whether and how
    you have used the summary, please leave your email below. We will not share
    your email with third parties. If you later decide that you would prefer not
     to receive communication from us, please contact the oasis team at
     oasis@oasis-database.org (mailto:oasis@oasis-database.org) and we will
     remove your address.
  </p>

  <form action="/survey/submit" method="post">

    <div class="form-group row">
      <label for="status" class="col-sm-3 col-form-label">(*) About you - Tick at least one field</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'curriculum_developer', false, id: 'status_curriculum_developer' %>
            Curriculum / materials developer
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'language_teacher', false, id: 'status_language_teacher' %>
            Language teacher/instructor
          </label>
        </div>

        <!-- Language teacher -->
        <div style="padding-left: 20px;">
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_pre_elementary', false, id: 'status_language_teacher_pre_elementary' %>
              Pre-elementary / kindergarten
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_primary', false, id: 'status_language_teacher_primary' %>
              Primary
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_secondary', false, id: 'status_language_teacher_secondary' %>
              Secondary / high
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_tertiary', false, id: 'status_language_teacher_tertiary' %>
              Tertiary / university
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_adult_edu', false, id: 'status_language_teacher_adult_edu' %>
              Adult education
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_private', false, id: 'status_language_teacher_private' %>
              Private institution
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'language_teacher_other', false, id: 'status_language_teacher_other' %>
              Other
            </label>
          </div>
        </div>

        <!-- Media / journalist -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'media', false, id: 'status_media' %>
            Media / journalist
          </label>
        </div>

        <!-- Parent -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'parent', false, id: 'status_parent' %>
            Parent
          </label>
        </div>

        <!-- Policy maker -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'policy_maker', false, id: 'status_policy_maker' %>
            Policy maker
          </label>
        </div>

        <!-- Professional development provider -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'professional_development_provider', false, id: 'status_professional_development_provider' %>
            Professional development provider
          </label>
        </div>

        <!-- Student -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'student', false, id: 'status_student' %>
            Student
          </label>
        </div>

        <div style="padding-left: 20px;">
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'undergraduate', false, id: 'status_undergraduate' %>
              Undergraduate
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'masters', false, id: 'status_masters' %>
              Masters
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'phd', false, id: 'status_phd' %>
              PhD
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'other', false, id: 'status_other' %>
              Other
            </label>
          </div>
        </div>

        <!-- Teacher educator -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'teacher_educator', false, id: 'status_teacher_educator' %>
            Teacher educator
          </label>
        </div>

        <!-- Test developer -->
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'test_developer', false, id: 'status_test_developer' %>
            Test developer
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag 'survey[status][]', 'university_academic', false, id: 'status_university_academic' %>
            University academic
          </label>
        </div>
        <div style="padding-left: 20px;">
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'early_career', false, id: 'status_early_career' %>
              Early career
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'mid_career', false, id: 'status_mid_career' %>
              Mid-career
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag 'survey[status][]', 'established_scholar', false, id: 'status_established_scholar' %>
              Established scholar
            </label>
          </div>
        </div>
      </div>
    </div>

  <div class="form-group row">
    <label id="survey-status-email-label" for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <%= text_field_tag 'email', nil, class: "form-control", placeholder: "Email", id: 'survey-status-email' %>
    </div>
  </div>

  <div class="form-group row"  style="text-align: right;">
    <input type="hidden" name="summary_id" value="<%= params["summary_id"] %>"/>
    <input type="hidden" name="summary_fileset_id" value="<%= params["summary_fileset_id"] %>"/>

    <%= link_to t(:'helpers.action.cancel'), '#', onclick: "parent.$.fancybox.close();", class: 'btn btn-primary' %>
    <input type="submit" class="btn btn-primary" id="survey_form_submit" value="Save & Submit">

  </form>

</div>
