<% provide :page_title, application_name %>

<div class="row home-content">
  <h4>Welcome to OASIS</h4>
  <p>The Open Accessible Summaries In Language Studies (OASIS) initiative aims to make research findings on language learning and teaching available and accessible to a wide audience.</p>
  <br/>

  <h4>Search OASIS</h4>

  <%= render partial: 'catalog/homepage_search_form' %>

  <br/>

  <div>
    <!--<div class="homepage_div">-->
      <!--<h4>OASIS project team</h4>-->
      <!--<input type="hidden" class=".hidden" value="close"/>-->
        <!--<p><a target="_blank" href="https://www.york.ac.uk/education/our-staff/academic/emma-marsden/">Emma Marsden</a> (University of York; project coordinator)</p>-->
        <!--<p><a target="_blank" href="http://www.uva.nl/profiel/a/n/s.j.andringa/s.j.andringa.html">Sible Andringa</a> (University of Amsterdam)</p>-->
        <!--<p><a target="_blank" href="http://www.concordia.ca/artsci/education/faculty.html?fpid%3Dlaura-collins">Laura Collins</a> (Concordia University)</p>-->
        <!--<p><a target="_blank" href="http://cls.psu.edu/people/cnj1">Carrie Jackson</a> (Penn State University)</p>-->
        <!--<p><a target="_blank" href="https://lukeplonsky.wordpress.com/">Luke Plonsky</a> (Northern Arizona University)</p>-->
        <!--<p><a target="_blank" href="http://digitalcreativity.ac.uk/people/dr-rowena-kasprowicz">Rowena Kasprowicz</a> (University of York)</p>-->
    <!--</div>-->

    <!--<div class="homepage_div">-->
      <!--<h4>Network Collaborators</h4>-->
      <!--<input type="hidden" class=".hidden" value="close"/>-->
      <!--<p><a target="_blank" href="https://liberalarts.iupui.edu/directory/bio/manton">Marta Anton</a></p>-->
      <!--<p><a target="_blank" href="https://www.york.ac.uk/education/our-staff/academic/claudine-bowyer-crane/">Claudine Bowyer-Crane</a></p>-->
      <!--<p><a target="_blank" href="https://german.georgetown.edu/story/1242751814140.html">Heidi Byrnes</a></p>-->
      <!--<p><a target="_blank" href="http://sls.msu.edu/people/core-faculty/aline-godfroid/">Aline Godfroid</a></p>-->
      <!--<p><a target="_blank" href="https://www.reading.ac.uk/education/about/staff/s-j-graham.aspx">Suzanne Graham</a></p>-->
      <!--<p><a target="_blank" href="https://www.york.ac.uk/language/people/academic-research/heather-marsden/">Heather Marsden</a></p>-->
      <!--<p><a target="_blank" href="http://aplng.la.psu.edu/people/kzm197">Kevin McManus</a></p>-->
      <!--<p><a target="_blank" href="https://www1.essex.ac.uk/langling/staff/profile.aspx?ID=2332">Florence Myles</a></p>-->
      <!--<p><a target="_blank" href="http://polio.msu.domains/">Charlene Polio</a></p>-->
      <!--<p><a target="_blank" href="https://iris.ucl.ac.uk/iris/browse/profile?upi=AREVE24">Andrea Revesz</a></p>-->
      <!--<p><a target="_blank" href="https://psychology.pitt.edu/people/natasha-tokowicz-phd">Natasha Tokowicz</a></p>-->
      <!--<p><a target="_blank" href="http://www.pitt.edu/~tessa/">Tessa Warren</a></p>-->
    <!--</div>-->

    <!--<div class="homepage_div">-->
      <!--<input type="hidden" class=".hidden" value="close"/>-->
      <!--<h4>Researchers</h4>-->
      <!--Elizabeth Bailey<br/>-->
      <!--<a href="http://digitalcreativity.ac.uk/people/dr-rowena-kasprowicz">Rowena Kasprowicz</a><br/>-->
      <!--<a href="https://www.york.ac.uk/education/research/progress/david-oreilly/#tab-1">David O’Reilly</a><br/>-->
      <!--Fatma Said<br/>-->
      <!--Catherine van Beuningen<br/>-->
      <!--Lais de Oliveira Borges<br/>-->
      <!--Ines Martin<br/>-->
      <!--June Ruivivar<br/>-->
      <!--Sophie Thompson<br/>-->
    <!--</div>-->

    <!--<div class="homepage_div">-->
      <!--<input type="hidden" class=".hidden" value="close"/>-->
      <!--<h4>Professional associations</h4>-->
      <!--American Council for Teachers of Foreign<br/>-->
      <!--Languages: <a href="https://www.actfl.org/">ACTFL</a> (Ali Moeller)<br/>-->
      <!--Association for Language Learning: <a href="https://www.all-languages.org.uk/">ALL</a> (Annalise Gordon)<br/>-->
      <!--Centre for Applied Linguistics: <a href="http://www.cal.org/">CAL</a> (Joel Gomez)<br/>-->
      <!--International Federation of Foreign Language Teaching Associations: <a href="https://fiplv.com/">FIPLV</a> (Terry Lamb)<br/>-->
      <!--<a href="https://www.tenaxschoolstrust.co.uk/">Tenax Schools Trust</a> (Ian Bauckham)-->
    <!--</div>-->
  </div>
  <br/>

  <%= render 'alerts' %>
  <br/>

  <h4>Recently uploaded</h4>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  <br/>

  <h4>Funded by:</h4>
  <%= image_tag("ESRC-logo-300x258.jpg", :alt => "ESRC", class: "homepage_logo") %>
  <%= image_tag("BritishAcademy.jpg", :alt => "ESRC", class: "homepage_logo") %><br/>
</div>

