
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

<style>
  .fancybox-container {
    width: 100%;
  }
  .fancybox-content {
    max-width: 600px;
    max-height: 800px;
  }
</style>

<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
      <% if session['has_done_survey'] != 'yes' %>
          <a data-fancybox
            data-type="iframe"
            data-captain="Downloader Survey"
            data-src="/survey/new?summary_id=<%= @presenter.solr_document.id %>&summary_fileset_id=<%= file_set.id%>"
            data-options='{
              "buttons" : ["close"],
              "animationEffect": "fade",
              "animationDuration": "500",
              "autoFocus": "true",
              "modal": "true"
            }'
            class="btn btn-default"
            href="javascript:;" >
          <%= t('hyrax.file_set.show.downloadable_content.pdf_link') %>
        </a>
      <% else %>
        <%= link_to hyrax.download_path(file_set),
                    data: { turbolinks: false },
                    target: :_blank,
                    id: "file_download",
                    data: { label: file_set.id },
                    class: "btn btn-default" do %>
          <%= t('hyrax.file_set.show.downloadable_content.pdf_link') %>
        <% end %>
      <% end %>
    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
    </div>
<% end %>
