    <div class="metadata">
      <table class="table">
        <% doc_presenter = index_presenter(document) %>

        <%
        authors = doc_presenter.document._source['publication_author_tesim']
        pubyear = doc_presenter.document._source['publication_date_tesim']
        apa_short = Apa.get_apa_short_html(authors, pubyear)
        %>
        <tr>
          <th><span class="attribute-label h4">Publication</span></th>
          <td><%= apa_short %></td>
        </tr>

        <!-- Research Areas / Topics -->
        <%
        ras = doc_presenter.document._source['summary_general_research_area_tesim']
        v = ''
        if not ras.nil?
          ras.each do |ra|
            v = v + GenericLocalAuthorityService.id_to_label('journals',ra.to_i) + '<br/>'
          end
        end
        %>
        <tr>
          <th><span class="attribute-label h4">Topic</span></th>
          <td><%= sanitize(v) %></td>
        </tr>

        <!-- Participant types -->
        <%
          pts = doc_presenter.document._source['participants_type_tesim']
          v = ''
          if not pts.nil?
            pts.each do |pt|
              v = v + GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i) + '<br/>'
            end
          end
        %>
        <tr>
          <th><span class="attribute-label h4">Participant type</span></th>
          <td><%= sanitize(v) %></td>
        </tr>

        <!-- Participant age -->
        <%
          ages = doc_presenter.document._source['participants_age_tesim']
          v = ''
          if not ages.nil?
            ages.each do |age|
              v = v + GenericLocalAuthorityService.id_to_label('age_of_learners',pt.to_i) + '<br/>'
            end
          end
        %>
        <tr>
          <th><span class="attribute-label h4">Age</span></th>
          <td><%= sanitize(v) %></td>
        </tr>

        <%
          materials_on_iris = doc_presenter.field_value 'materials_on_iris_tesim'
          iris_url        = doc_presenter.field_value 'iris_url_tesim'
        %>
        <%if materials_on_iris=='Yes' and (not iris_url.nil?) and iris_url!='' %>
            <tr>
              <th>
                <%= link_to image_tag("iris_logo_small.jpg", :class=>'link_to_iris'), iris_url, target: "_blank"%>
              </th>
              <td>
                <%= link_to iris_url, iris_url, target: "_blank"%>
              </td>
            </tr>
        <% end%>
      </table>
    </div>

    <div class="clearfix"></div>
