<div class="document col-xs-6 col-md-3">
  <div class="thumbnail">
    <%= render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>

    <div class="caption" style="text-align: left">
      <h4><%= link_to document.title_of_summary, document %></h4>

      <%
        apa_short = ''
        pubyear = document.publication_date
        #authors = doc_presenter.document._source['publication_author_tesim']
        authors = document.publication_author_all unless document.publication_author_all.nil?
        if authors.nil?
          authors = document.publication_author
          apa_short = Apa.get_apa_short_html(authors, pubyear)
        else
          apa_short = Apa.get_apa_short_author_all_in_one(authors, pubyear)
        end
      %>
      <b>Publication</b><br/>
      <%= apa_short %><br/><br/>

      <%
        ras = document.summary_general_research_area
        v = ''
        ras.each { |ra| v = v + GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i) + '<br/>'} unless ras.nil?
      %>
      <b>Topic</b><br/>
      <%= sanitize(v) %><br/>

      <!-- Participant types -->
      <%
        pts = document.participants_type
        v = ''
        pts.each { |x| v = v + GenericLocalAuthorityService.id_to_label('participant_types',x.to_i) + '<br/>'} unless pts.nil?
      %>
      <b>Participant type</b><br/>
      <%= sanitize(v) %><br/>

      <!-- Participant age -->
      <%
        ages = document.participants_age
        v = ''
        ages.each { |x| v = v + GenericLocalAuthorityService.id_to_label('age_of_learners',x.to_i) + '<br/>'} unless (ages.nil? or ages.length==0)
      %>
      <%if v!=''%>
        <b>Age</b><br/>
        <%= sanitize(v) %>
      <%end%>
      <%
        materials_on_iris = document.materials_on_iris
        iris_url         = document.iris_url
      %>
      <%if materials_on_iris=='Yes' and (not iris_url.nil?) and iris_url!='' %>
          <%= link_to image_tag("iris_logo_small.jpg", :class=>'link_to_iris_small'), iris_url, target: "_blank"%>&nbsp;
          <%= link_to 'View on IRIS', iris_url, target: "_blank"%>
      <% end%>
    </div>
  </div>
</div>
