    <div class="metadata">
      <table class="table">
        <% doc_presenter = index_presenter(document) %>

        <%
        apa_short = ''
        pubyear = doc_presenter.document._source['publication_date_tesim']
        #authors = doc_presenter.document._source['publication_author_tesim']
        authors = doc_presenter.document._source['publication_author_all_tesim'] unless doc_presenter.document._source['publication_author_all_tesim'].nil?
        if authors.nil?
          authors = doc_presenter.document._source['publication_author_tesim']
          apa_short = Apa.get_apa_short_html(authors, pubyear)
        else
          apa_short = Apa.get_apa_short_author_all_in_one(authors, pubyear)
        end
        %>
        <tr>
          <th><span class="attribute-label h4">Publication</span></th>
          <td><%= apa_short %></td>
        </tr>

        <!-- Research Areas / Topics -->
        <%
        ras = doc_presenter.document._source['summary_general_research_area_tesim']
        v = ''
        ras.each { |ra| v = v + GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i) + '<br/>'} unless ras.nil?
        %>

        <tr>
          <th><span class="attribute-label h4">Topic</span></th>
          <td>
            <% ras.each do |ra| %>
                <% if GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i).include? 'Other' %>
                    <% if GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i)!='Other' %>
                        <%= link_to  GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i),
                                  '/catalog?f[summary_general_research_area_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                     :target => "_blank"
                      %>
                    <% else %>
                        <%= GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i) %><br/>
                    <% end %>
                    <ul>
                      <%unless doc_presenter.document._source["summary_general_research_area_other_tesim"].nil?%>
                          <%doc_presenter.document._source["summary_general_research_area_other_tesim"].each do |w|%>
                              <li><%=w%></li>
                          <%end%>
                      <%end%>
                    </ul>
                <% else %>
                    <%= link_to  GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i),
                                  '/catalog?f[summary_general_research_area_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                  :target => "_blank"
                  %>
                    <br/>
                <% end %>
            <% end %>
          </td>
        </tr>

        <!-- Participant types -->
        <%
          pts = doc_presenter.document._source['participants_type_tesim']
          v = ''
          pts.each { |x| v = v + GenericLocalAuthorityService.id_to_label('participant_types',x.to_i) + '<br/>'} unless pts.nil?
        %>
        <tr>
          <th><span class="attribute-label h4">Participant type</span></th>
          <td>

            <% pts.each do |pt| %>
                <% if GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i).include? 'Other' %>
                    <% if GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i)!='Other' %>
                        <%= link_to  GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i),
                                     '/catalog?f[participants_type_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                     :target => "_blank"
                        %>
                    <% else %>
                        <%= GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i) %><br/>
                    <% end %>
                    <ul>
                      <%unless doc_presenter.document._source["participants_type_other_tesim"].nil?%>
                          <%doc_presenter.document._source["participants_type_other_tesim"].each do |w|%>
                              <li><%=w%></li>
                          <%end%>
                      <%end%>
                    </ul>
                <% else %>
                    <%= link_to  GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i),
                                 '/catalog?f[participants_type_sim][]='+pt+'&locale=en&q=&search_field=all_fields',
                                 :target => "_blank"
                    %>
                    <br/>
                <% end %>
            <% end %>

          </td>
        </tr>

        <!-- Participant age -->
        <%
          ages = doc_presenter.document._source['participants_age_tesim']
          v = ''
          ages.each { |x| v = v + GenericLocalAuthorityService.id_to_label('age_of_learners',x.to_i) + '<br/>'} unless (ages.nil? or ages.length==0)
        %>
        <%if v!=''%>
        <tr>
          <th><span class="attribute-label h4">Age</span></th>
          <td><%= sanitize(v) %></td>
        </tr>
        <%end%>

        <%
          materials_on_iris = doc_presenter.field_value 'materials_on_iris_tesim'
          iris_url        = doc_presenter.field_value 'iris_url_tesim'
        %>
        <%if materials_on_iris=='Yes' and (not iris_url.nil?) and iris_url!='' %>
            <tr>
              <th>
                <%= link_to image_tag("iris_logo_small.jpg", :class=>'link_to_iris'), iris_url, target: "_blank"%>
              </th>
              <td>
                <%= link_to iris_url, iris_url, target: "_blank"%>
              </td>
            </tr>
        <% end%>
      </table>
    </div>

    <div class="clearfix"></div>

