    <div class="metadata">
      <table class="table">
        <% doc_presenter = index_presenter(document) %>

        <%
        apa_short = ''
        pubyear = document.publication_date
        #authors = doc_presenter.document._source['publication_author_tesim']
        authors = document.publication_author_all unless document.publication_author_all.nil?
        if authors.nil? or authors==''
          authors = document.publication_author
          apa_short = Apa.get_apa_short_html(authors, pubyear)
        else
          apa_short = Apa.get_apa_short_author_all_in_one(authors, pubyear)
        end
        %>
        <tr>
          <th><span class="attribute-label h4">Publication</span></th>
          <td><%= apa_short %>
          <%
        original_article_open_access = document.original_article_open_access
        %>
        <%if original_article_open_access=='Yes' %>
                <%= image_tag "openaccess.png", :class=>'original_article_open_access_small'%>              
        <% end%>
        </td>
        </tr>

        <!-- Research Areas / Topics -->
        <%
        ras = document.summary_general_research_area
        v = ''
        ras.each { |ra| v = v + GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i) + '<br/>'} unless ras.nil?
        %>

        <tr>
          <th><span class="attribute-label h4">Area of research</span></th>
          <td>
            <% ras.each do |ra| %>
                <% if GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i).include? 'Other' %>
                    <% if GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i)!='Other' %>
                        <%= link_to  GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i),
                                  '/catalog?f[summary_general_research_area_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                     :target => "_blank",
                                     :title => GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i)
                      %>
                    <% else %>
                        <%= GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i) %><br/>
                    <% end %>
                    <ul>
                      <%unless document.summary_general_research_area_other.nil?%>
                          <li><%=document.summary_general_research_area_other%></li>
                      <%end%>
                    </ul>
                <% else %>
                    <%= link_to  GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i),
                                  '/catalog?f[summary_general_research_area_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                  :target => "_blank",
                                  :title => GenericLocalAuthorityService.id_to_label('research_areas',ra.to_i)
                  %>
                    <br/>
                <% end %>
            <% end %>
          </td>
        </tr>

        <!-- Participant types -->
        <%
          pts = document.participants_type
          v = ''
          pts.each { |x| v = v + GenericLocalAuthorityService.id_to_label('participant_types',x.to_i) + '<br/>'} unless pts.nil?
        %>
        <tr>
          <th><span class="attribute-label h4">Participant type</span></th>
          <td>

            <% pts.each do |pt| %>
                <% if GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i).include? 'Other' %>
                    <% if GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i)!='Other' %>
                        <%= link_to  GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i),
                                     '/catalog?f[participants_type_sim][]='+ra+'&locale=en&q=&search_field=all_fields',
                                     :target => "_blank",
                                     :title => GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i)
                        %>
                    <% else %>
                        <%= GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i) %><br/>
                    <% end %>
                    <ul>
                      <%unless document.participants_type_other.nil?%>
                          <li><%=document.participants_type_other%></li>
                      <%end%>
                    </ul>
                <% else %>
                    <%= link_to  GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i),
                                 '/catalog?f[participants_type_sim][]='+pt+'&locale=en&q=&search_field=all_fields',
                                 :target => "_blank",
                                 :title => GenericLocalAuthorityService.id_to_label('participant_types',pt.to_i)
                    %>
                    <br/>
                <% end %>
            <% end %>

          </td>
        </tr>

        <!-- Participant age -->
        <%
          ages = document.participants_age
          v = ''
          ages.each { |x| v = v + GenericLocalAuthorityService.id_to_label('age_of_learners',x.to_i) + '<br/>'} unless (ages.nil? or ages.length==0)
        %>
        <%if v!=''%>
        <tr>
          <th><span class="attribute-label h4">Age</span></th>
          <td>
            <% ages.each do |age| %>
                <%= link_to  GenericLocalAuthorityService.id_to_label('age_of_learners',age.to_i),
                           '/catalog?f[participants_age_sim][]='+age+'&locale=en&q=&search_field=all_fields',
                           :target => "_blank",
                           :title => GenericLocalAuthorityService.id_to_label('age_of_learners',age.to_i)
              %>
               <br/>
            <% end %>
          </td>
        </tr>
        <%end%>

        <%
          materials_on_iris = document.materials_on_iris
          iris_url         = document.iris_url
        %>
        <%if materials_on_iris=='Yes' and (not iris_url.nil?) and iris_url!='' %>
            <tr>
              <th>
                <%= link_to image_tag("iris_logo_small.jpg", :class=>'link_to_iris'), iris_url, target: "_blank"%>
              </th>
              <td>
                <%= link_to iris_url, iris_url, target: "_blank"%>
              </td>
            </tr>
        <% end%>
      </table>
    </div>

    <div class="clearfix"></div>

