<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav navbar-nav col-sm-5 col-md-6">
        <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
          <%= link_to t(:'hyrax.controls.home'), hyrax.root_path %></li>
        <% if user_signed_in? %>
        <li <%= 'class=active' if current_page?('/new_summary') %>>
          <%= link_to 'Upload summary', '/new_summary' %></li>
        <% end %>
        <li <%= 'class=active' if current_page?('/about') %>>
          <%= link_to t(:'hyrax.controls.about'), '/about' %></li>
        <li <%= 'class=active' if current_page?('/help') %>>
          <%= link_to 'Help', '/help' %></li>
        <li <%= 'class=active' if current_page?('/contact') %>>
          <%= link_to 'Contact', '/contact' %></li>
        <li <%= 'class=active' if current_page?('/activities') %>>
          <%= link_to t(:'hyrax.pages.tabs.activities_page'), '/activities' %></li>
        <li <%= 'class=active' if current_page?('/people_saying') %>>
          <%= link_to t(:'hyrax.pages.tabs.people_saying_page'), '/people_saying' %></li>
      </ul><!-- /.nav -->
      <!--
      <div class="searchbar-right navbar-right col-sm-7 col-md-6">
      -->
      <!--comment out below-->
      <% if current_page?('/catalog') %>
        <%= render partial: 'catalog/search_form' %>
      <% end %>
      <!--</div>-->
    </div>
  </div>
</nav><!-- /.navbar -->
