<aside id="form-progress" class="form-progress panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Downloader summary</h3>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <fieldset>
        <legend class="legend-save-work"><%= t('.requirements') %></legend>
        <ul class="requirements">
          <li class="incomplete" id="required-metadata"><%= t('.required_descriptions') %></li>
          <% if Flipflop.active_deposit_agreement_acceptance? %>
            <li class="incomplete" id="required-agreement"><%= t('.required_agreement') %></li>
          <% end %>
        </ul>
      </fieldset>
    </div>

    <% if Flipflop.proxy_deposit? && current_user.can_make_deposits_for.any? %>
      <div class="list-group-item">
        <%= f.input :on_behalf_of, collection: current_user.can_make_deposits_for.map(&:user_key), prompt: "Yourself" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer text-center">
    <% cancel_path = f.object.persisted? ? polymorphic_path([main_app, f.object]) : hyrax.my_works_path %>
    <%= link_to t(:'helpers.action.cancel'),
                cancel_path,
                class: 'btn btn-default' %>
    <%# TODO: If we start using ActionCable, we could listen for object updates and
              alert the user that the object has changed by someone else %>
    <%= f.input Hyrax::Actors::OptimisticLockValidator.version_field, as: :hidden if f.object.persisted? %>
    <%= f.submit 'Download', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
  </div>
</aside>