<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<% doc_presenter = index_presenter(@presenter.solr_document) %>

<% ra = doc_presenter.field_value 'summary_general_research_area_tesim'%>
<div class="row" id="accordion">
  <h3>
    About the summary
  </h3>
  <div>
  <%unless ra.nil? %>
  <div class="col-xs-12">
    <h4>General Research Areas</h4>
    <li><%=ra%></li>
  </div>
  <%end%>

  <%unless @presenter.solr_document._source["publication_author_tesim"].nil? %>
  <div class="col-xs-12">
    <h4>Author(s) of Research</h4>

    <%@presenter.solr_document._source["publication_author_tesim"].each do |a|%>
        <li><%=a%></li>
    <%end%>
  </div>
  <%end%>

  <%unless @presenter.solr_document._source["publication_date_tesim"].nil? %>
  <div class="col-xs-12">
    <h4>Year the Research Published</h4>

    <%@presenter.solr_document._source["publication_date_tesim"].each do |d|%>
        <li><%=d%></li>
    <%end %>
  </div>
  <%end%>

  <div class="col-xs-12">
    <h4>Date of upload</h4>

    <li><%= doc_presenter.field_value "date_uploaded_dtsi"%></li>
  </div>

  <%unless @presenter.solr_document._source["summary_writer_tesim"].nil? %>
  <div class="col-xs-12">
    <h4>Writer of the Summary</h4>

    <%@presenter.solr_document._source["summary_writer_tesim"].each do |w|%>
        <li><%=w%></li>
    <%end%>
  </div>
  <%end%>

  <%unless @presenter.solr_document._source["participants_targetlanguage_tesim"].nil? %>
  <div class="col-xs-12">
    <h4>Language Being Learned</h4>

    <%@presenter.solr_document._source["participants_targetlanguage_tesim"].each do |l|%>
        <li><%=l%></li>
    <%end%>
  </div>
  <%end%>

  </div>

  <h3>
    References for Publications
  </h3>
  <div>
    All references here ...
  </div>

  <h3>
    More Summary Details
  </h3>
  <div>
    More Summary Details here ...
  </div>

  <h3>
    Participants
  </h3>
  <div>
    Participants Details here ...
  </div>

</div>
<%= render 'items', presenter: @presenter %>
<%= render 'social_media' %>

