<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'title_of_summary', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>

          <div class="col-sm-3 text-center">
            <%= render 'representative_media', presenter: @presenter, viewer: true %>
            <%= render 'citations', presenter: @presenter %>
            <%= render 'social_media' %>
          </div>
          <div class="col-sm-9">
            <div id="summary-details">
              <h4>Sumary details</h4>
              <hr/>
              <%= render :partial => 'publication' %>
              <%= render :partial => 'generic_field', :locals => {:field_name => 'summary_writer'} %>
              <%= render :partial => 'upload_date' %>
              <%= render :partial => 'generic_field_with_authority', :locals => {:field_name => 'summary_general_research_area', :authority_file_name => 'research_areas'} %>
              <%= render :partial => 'generic_field_with_authority', :locals => {:field_name => 'participants_type', :authority_file_name => 'participant_types'} %>
              <%= render :partial => 'generic_field_with_authority', :locals => {:field_name => 'participants_targetlanguage', :authority_file_name => 'languages_being_learned'} %>
              <%= render :partial => 'generic_field', :locals => {:field_name => 'participants_age'} %>
              <%= render :partial => 'materials_on_iris' %>
              <%= render :partial => 'generic_field_with_authority', :locals => {:field_name => 'of_likely_interest_to', :authority_file_name => 'of_likely_interest_to'} %>
            </div>

            <div id="participant-details">

            </div>

            <div id="study-details">

            </div>

          </div>
          <div class="col-sm-12">

            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%#= render 'sharing_with', presenter: @presenter %>
            <%#= render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
